<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/application.css">

    <title>Codebreaker</title>
  </head>
  <body>
    <h1>Codebreaker</h1>

    <div class="content_wrapper">
      <ul class="menu">
        <li><a class="btn" href="/game">Start Game</a></li>
        <li><a class="btn" href="/best_results">Best Results</a></li>
        <li><a class="btn" href="/help">Help</a></li>
      </ul>
    </div>
  </body>
</html>